.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
**/node_modules/**
src/**
webview/**
docs/**
.gitignore
.gitattributes
biome.jsonc
.vscodeignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
GEMINI.md
SECURITY.md
CONTRIBUTING.md
